*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    display:flex;
    background:#f1f5f9;
}

/* Sidebar */

.sidebar{
    width:250px;
    height:100vh;
    background:#0f172a;
    padding-top:20px;
    position:fixed;
}

.logo{
    color:white;
    font-size:28px;
    text-align:center;
    margin-bottom:40px;
    font-weight:bold;
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    padding:18px 25px;
    transition:0.3s;
}

.sidebar ul li:hover{
    background:#1e293b;
}

.sidebar ul li a{
    color:white;
    text-decoration:none;
    font-size:18px;
}

/* Main Content */

.main-content{
    margin-left:250px;
    width:100%;
    padding:30px;
}

/* Top Navbar */

.top-navbar{
    width:100%;
    background:white;
    padding:20px;
    border-radius:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0px 2px 8px rgba(0,0,0,0.1);
}

.welcome-text{
    font-size:28px;
    font-weight:bold;
    color:#1e293b;
}

.date{
    color:#64748b;
}

/* Dashboard Cards */

.dashboard-cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
    margin-top:30px;
}

.card{
    padding:30px;
    border-radius:12px;
    color:white;
    box-shadow:0px 4px 10px rgba(0,0,0,0.1);
}

.card h2{
    margin-bottom:15px;
    font-size:24px;
}

.card p{
    font-size:35px;
    font-weight:bold;
}

.total-task{
    background:#2563eb;
}

.completed-task{
    background:#16a34a;
}

.pending-task{
    background:#ea580c;
}

.high-priority{
    background:#dc2626;
}

/* Task Table */

.task-section{
    margin-top:40px;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0px 2px 8px rgba(0,0,0,0.1);
}

.task-section h2{
    margin-bottom:20px;
    color:#1e293b;
}

table{
    width:100%;
    border-collapse:collapse;
}

table th{
    background:#1e3a8a;
    color:white;
    padding:15px;
    text-align:left;
}

table td{
    padding:15px;
    border-bottom:1px solid #cbd5e1;
}

.high{
    color:red;
    font-weight:bold;
}

.medium{
    color:orange;
    font-weight:bold;
}

.low{
    color:green;
    font-weight:bold;
}

/* Responsive */

@media(max-width:900px){

    .sidebar{
        width:100%;
        height:auto;
        position:relative;
    }

    .main-content{
        margin-left:0;
    }

    body{
        flex-direction:column;
    }

    .top-navbar{
        flex-direction:column;
        gap:10px;
        text-align:center;
    }
}